
<article id="slider">


		<!-- Slider Setup -->

		<input checked="" type="radio" name="slider" id="slide1">
		<input type="radio" name="slider" id="slide2">
		<input type="radio" name="slider" id="slide3">
		<input type="radio" name="slider" id="slide4">
		<input type="radio" name="slider" id="slide5">


	<!-- The Slider -->



<div id="slides">
    <div id="overflow">
      <div class="inner">
        <article>
          <div class="info">
            <h3>Porter fra Krispol</h3>
          <a href="{{site.urlRoot}}brosjyrer/2016_04_loftebord.pdf"></a></div>
          <img src="{{site.urlRoot}}images/krispol.jpg">
        </article>
        <article>
          <div class="info">
            <h3>Porter fra Krispol</h3>
          </div>
          <img src="{{site.urlRoot}}images/krispol2.jpg">
        </article>
        <article>
          <div class="info">
            <h3>Industriporter fra Krispol</h3>
          </div>
          <img src="{{site.urlRoot}}images/krispol_ind.jpg">
        </article>
        <article>
          <div class="info"><h3>Løftebord</h3><a href="{{site.urlRoot}}brosjyrer/2016_04_loftebord.pdf">Vår løftebordbrosjyre (pdf)</a></div>
          <img src="{{site.urlRoot}}images/horisontalsaks.jpg">
        </article>
        <article>
          <div class="info"></div>
          <img src="{{site.urlRoot}}images/krispol.jpg">
        </article>
        <!--article>
          <div class="info"><h3>Hill Fort</h3> by <a href="http://voyager3.tumblr.com">Brendan Zabarauskas</a></div>
          <img src="HillFortByBjzaba.png">
        </article-->
      </div> <!-- .inner -->
    </div> <!-- #overflow -->
  </div>
  <div id="controls">
    <label for="slide1">›</label>
    <label for="slide2">›</label>
    <label for="slide3">›</label>
    <label for="slide4">›</label>
    <label for="slide5">›</label>
  </div>
  <div id="active">
    <label for="slide1"></label>
    <label for="slide2"></label>
    <label for="slide3"></label>
    <label for="slide4"></label>
    <label for="slide5"></label>
</div>
</article>
