@import "include/reset";
@import "include/mixins";
@import "include/slider";
@import "include/fonts";
@import "include/variables";
@import "include/post_snippet";
@import "include/buttons";
@import "font-awesome";

body {
    overflow-x: hidden;
    transition: font-size .3s ease-in-out;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Roboto', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, Sans-serif;
    font-weight: 300;
    color: $text;
    background-color: #fdfdfd;
    background-image: linear-gradient(#fefefe, #e0eaea);
    &.home {
        @import "pages/index";
    }
    &.about {
        @import "pages/about";
    }
    &.contact {
        @import "pages/contact";
    }
    &.blog {
        @import "pages/blog";
    }
    &.journal {
        @import "pages/post";
    }
    &.produkter {
        @import "pages/produkter";
    }
    &.testimonials {
        @import "pages/testimonials";
    }
}

strong {
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1.2em 0 .5em;
    color: $blue;
    font-family: 'kg_lego_houseregular', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, Sans-serif;
    font-size: 1.2rem;
    letter-spacing: 3px;
    a {
        text-decoration: none;
        color: $blue;
    }
    &.xfont {
      font-family: "Arial Black",	/* Windows, MacOS */ /* Fallback options */ helvetica,	/* Unix+X, MacOS */ sans-serif;
      font-weight: normal;
      letter-spacing: normal;
    }
}

h1 {
    font-size: 1.6rem;
    text-transform: none;
}

h1.page-title {
    color: $blue;
    margin-top: 0;
    min-width: $page-width;
    font-weight: normal;
    font-size: 1.8em;
    text-align: left;
    text-transform: none;
}

p {
    margin-bottom: .5em;
    max-width: 600px;
}

#page {
    @include millimeter-grid;
    background-attachment: fixed;
}

.ingress {
    font-size: 1.3rem;
    font-weight: 400;
}

.content {
    max-width: 1400px;
    margin: 0 auto 2em;
    // padding: 2rem;
    box-sizing: border-box;
    // border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    // border: 3px solid #ddd;
    &.header-content {
      padding: 1rem 0 0;
    }
    .frontpage {
        h2 {
            font-size: 1.3rem;
        }
        p {
            font-size: 1.4rem;
            margin-bottom: .8em;
        }
    }
}

footer {
    text-align: center;
    h1 {
        font-size: 1.1em;
        padding-bottom: .5em;
        text-align: center;
    }
    a {
        &:hover {
            color: $blue;
        }
        color: $blue
    }
    address,
    p {
        padding-bottom: 1em;
        &.quick-links {}
        & > a {
            color: white;
        }
    }
    h3 {
        text-align: center;
        font-size: 1rem;
    }
    strong { text-align: center; display: block;}
    .copyright {
        text-align: center;
        border: none;
        text-transform: uppercase;
        a,
        a:visited {
            color: $blue;
        }
    }
}

header {
    background: white;
    box-shadow: 0 10px -5px rgba(230, 230, 230, .5);
    display: block;
    .content {
        position: relative;
        border: none;
        border-radius: 0;
        background: transparent;
        padding-left: 0;
        padding-right: 0;
    }
    .logo {
        text-align: center;
        display: flex;
        align-items: flex-start;
        a {border: none;}
        .logo-img {
            margin-right: 3%;
        }
        img.gubbe {
            max-width: 110px;
            width: 100%;
        }
        img.logotekst {
            width: 350px;

        }
    }
    text-align: left;
    ul {
        list-style-type: none;
        font-size: 1.2em;
        li {
            display: inline;
            padding-right: 20px;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    color: $blue;
}

h1 {
    font-size: 1.3rem;
}

h2 {
    font-size: 1.1rem;
}
h3 { font-size: .875rem;}

a {
    color: black;
    border-bottom: 1px solid;
    text-decoration: none;
    &,
    &:visited {
        border-style: dotted;
    }
    &:hover {
        color: $blue;
    }
}

ul {
    margin-bottom: 0.5em;
    li {
        &::before {
            content: "*";
            color: $blue;
            margin-right: .7em;
        }
    }
}

nav {
    display: flex;
    flex-direction: row;
    font-family: 'roboto', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, Sans-serif;
    position: absolute;
    top: 1em;
    right: 1.5em;
    padding: 10px 10px 30px 10px;
    text-transform: uppercase;
    border-bottom: none;

    h3 { display: none;}
    a {
        color: $blue;
        font-weight: bold;
        margin-left: 2em;
        &:first-child {
            margin-left: 0;
        }
    }
}


/* Nav Trigger */

.nav-trigger {
    /* critical styles - hide the checkbox input */
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
    /* critical positioning styles */
    display: none;
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 2;
    /* non-critical apperance styles */
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
    background-size: contain;
    color: $blue;
}

.pagedivider {
  margin: 20px 0;
}

#forsidefaner {
  display: flex;
  flex-wrap: wrap;
  &>.forsidefane {
    flex: 0 1 auto;
    margin: 0 10px;
  }
}

#forsideblokker {
  display: flex;
  flex-wrap: wrap;
  &>.forsideblokk {
    min-width: 300px;
    font-size: 15px;
    width: 30%;
    margin: 0 1%;
    flex: 0 1 auto;
    em {
      font-size: 16px;
      font-weight: bold;
      color: $blue;
    }
  }
}

.nav-trigger + label,
#page {
    transition: left 0.2s;
}

.nav-trigger:checked + label {
    //todo animate to x if possible
    background: red;
}



.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

@media only screen and (max-width: 480px) {
    body {
        font-size: 16px;
    }
    a.logo {
        &::after {
            font-size: 2rem;
        }
    }
    nav {
      border-bottom: 2px dotted #ddd;
    }
}

@media only screen and (max-width: 640px) {
    body {
        font-size: 18px;
    }
    header {
        // height: 100px;
        overflow: hidden;
        .logo {
            margin-top: 2rem;

            img {
                height: 20%;
            }
            strong {
                font-size: 2rem;
            }
        }
    }
    .content {
        padding: 2rem 1rem;
    }
}

@media only screen and (max-width: 768px) {
    #page {}
    header { }
    nav {
        transition: opacity .3s ease-in-out;
        width: 100%;
        flex-direction: column;
        opacity:0;
        top:0;
        right:0;
        overflow: hidden;
        background:white;
        align-items: center;
        align-content: center;
        animation: menu .5s once backwards;
        border-bottom: 2px dotted #ddd;
        h3 { display: block;}
        a {display: inline-block; margin: 0; padding: .1em 0; margin: .4em 0; font-weight: 300;}
    }
    label[for="nav-trigger"] {
        display: block;
    }
    .nav-trigger:checked + nav {
    opacity:1;

    box-shadow: 0 -5px 15px -10px rgba(0, 0, 0, 0.1);
}
}

@media only screen and (max-width: 1200px) {
    .content {
        margin-left: .5em;
        margin-right: .5em;
    }
    nav {

    }
}

@keyframes menu {
    from {
        clip: rect(0,0,0,0);
    }
    to {
        clip: initial;
    }
}
