@import "include/reset";
@import "include/mixins";
@import "include/fonts";
@import "include/variables";
@import "include/post_snippet";
@import "include/buttons";

@import "font-awesome";


body {
    transition: font-size .3s ease-in-out;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Roboto', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, Sans-serif;
    font-weight: 300;
    color: $text;
    
    .content,
    & > header,
    & > footer {
        width: $page-width;
        font-size: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 2em;
        box-sizing: border-box;
    }
    .content {
        padding-top: 1.5em;
        background: white;
        h1, h2, h3, h4, h5, h6 {
            margin: 1.2em 0 .5em;
            color: $header;
            font-family: 'Roboto', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, Sans-serif;
            font-size: 1.15em;
            a {
                text-decoration: none;
                color: $header;
            }
        }
        h1.page-title {
            margin-top: 0;            
            min-width: $page-width;
            font-weight: normal;            
            color: $text;
            font-size: 1.8em;
            text-align: left;
        }        
        p {
            margin-bottom: .5em;
            max-width: 600px;
        }
    }
    & > header {        
        display: block;
        background-size: cover;
        padding-top: 4em;
        a.logo {
            text-align: right;
            
            &:after {
                content: "H";
                border-radius: 50%;
                font-size: 4rem;
                padding: .5em .75em;
                background: $red;
                color: white;
            }
        }
        ul.menu {
            position: absolute;
            bottom: 0;
            right: 0;
            padding-left: 10px;
            margin-right: 2em;
            li {
                &.active {
                    a {
                        color: $red;
                        font-weight: bold;
                    }
                }
            }
        }
        ul.social {
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 10px;
            li {
                &:hover {
                    color: $red;
                }
            }
        }
    }

    & > header,
    & > footer {
        // Site navigation
        h1, h2, h3, h4, h5, h6 {
            color: white;
        }
    }
    
    & > header {
        text-align: left;
        ul {
            list-style-type: none;
            font-size: 1.2em;
            li {
                display: inline;
                padding-right: 20px;
            }
        }
        a {
            text-transform: uppercase;
        }
    }

    & > footer {
        background-color: #333333;
        color: #fff;
        text-align: center;
        
        h1 {
            color: white;
            font-size: 1.1em;
            font-weight: normal;
            padding-bottom: .5em;
            text-align: center;
        }
        a {
            &:hover {
                color: $red;
            }
            color: $red
        }
        address, p {
            padding-bottom: 1em;
            
            
            &.quick-links {
            }
            & > a {
                color: white;
            }
        }
        
        .copyright {
            text-align: center;
                       
            
            text-transform: uppercase;
            a, a:visited {
                color: $red;
            }
        }
    }

    &.home {
        @import "pages/index";
    }
    &.about {
        @import "pages/about";
    }
    &.contact {
        @import "pages/contact";
    }
    &.blog {
        @import "pages/blog";
    }
    &.journal {
        @import "pages/post";
    }
    &.services {
        @import "pages/services";
    }
    &.testimonials {
        @import "pages/testimonials";
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    color: $header;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 1.5em;
}
a {
    text-decoration: none;
    &, &:visited {
        color: black;
    }
    &:hover {
        color: $red;
    }
}
ul {
    margin-bottom: 0.5em;
    li {
        &::before{
            content: "*";
            color: $red;
            margin-right: .7em;
        }
    }
}   

@media only screen and (max-width: 480px) {
    body{ font-size: 16px; }
    a.logo {
        &::after{
           font-size: 2rem;
        } 
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
