{% extends "base.html" %}
{% set page.title = "Heis og sånn" %}
{% set page.nav = "hjem" %}

{% block content %}
    

    

    <article class="info">
    	<section>
    		<!-- <picture>
				 <source srcset="mdn-logo-wide.png" media="(min-width: 600px)">
				 <img src="mdn-logo-narrow.png" alt="MDN">
				</picture> -->
        <h2>Om Oss</h2>
      	<p>Heis og Sånn utgjøres av Alf og Jane som til sammen har 20 års erfaring innen heis, løftebord og diverse. Vi er lidenskapelig opptatt av å gjøre hverdagen til våre kunder enklere og levere heiser som bare funker!</p>
      	
      </section>
      <section>
      	<h2>Tjenester</h2>
      	<ul>
	      	<li>Vare- og rullestolheiser</li>
	      	<li>Løftebord</li>
	      	<li>Lasteramper</li>
	      	<li>Porter og grinder</li>
	      	<li>Værtetninger</li>      	
      	</ul>
      	<p>I tillegg utfører vi andre elektromekaniske oppdrag og sveising.</p>
      </section>
    </article>

    
{% endblock %}
