{% extends "base.html" %}
{% set page.title = "Heis og sånn" %}
{% set page.nav = "hjem" %}

{% block content %}
    

    

<article class="info">
	<section class="frontpage">
		<!-- <picture>
		 <source srcset="mdn-logo-wide.png" media="(min-width: 600px)">
		 <img src="mdn-logo-narrow.png" alt="MDN">
		</picture> -->
    <h2>Velkommen til Heis og sånn AS</h2>
  	<p>Vi har lang erfaring og god kompetanse på salg av vareheiser (med og
    uten personbefordring, rullestolheiser og hydrauliske løftebord samt
    reparasjon og service på disse produktene.</p>

    <p>Våre kunder er primært firmaer over hele landet, men også
    privatpersoner.</p>

    <p>Videre utfører vi reparasjon og service på;
    <em>porter, bommer, grinder, lasteramper og værtettinger.</em></p>
  	
  </section>
  
</article>

    
{% endblock %}
